<!DOCTYPE html>
<html>
<head>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.2/angular.js"></script>
</head>
<body>
<div class="container"ng-app="myApp" ng-controller="customersCtrl">
    <h1>Banke</h1>

    <table class="table table-striped table-bordered table-condensed">
        <thead>
        <tr>
            <td><a href="#" ng-click="orderByMe('sifBanke')">sifBanke</a> <span ng-show="myOrderBy == 'sifBanke'" ng-class="{'fa fa-caret-down': ascending,'fa fa-caret-up': !ascending}"></span></td>
            <td><a href="#" ng-click="orderByMe('naziv')">naziv</a>  <span ng-show="myOrderBy == 'naziv'" ng-class="{'fa fa-caret-down': ascending,'fa fa-caret-up': !ascending}"></span></td>
            <td><a href="#" ng-click="orderByMe('tekuciRacun')">tekuciRacun</a>  <span ng-show="myOrderBy == 'tekuciRacun'" ng-class="{'fa fa-caret-down': ascending,'fa fa-caret-up': !ascending}"></span></td>
        </tr>
        <tr>
            <th><input type="text" ng-model="filterSifBanke" class="form-control"></th>
            <th><input type="text" ng-model="filterNaziv" class="form-control"></th>
            <th><input type="text" ng-model="filterTekuciRacun" class="form-control"></th>
        </tr>
        </thead>

        <tr ng-repeat="x in names  | orderBy:myOrderBy:ascending | filter : {sifBanke:filterSifBanke} | filter : {naziv:filterNaziv} | filter : {tekuciRacun:filterTekuciRacun}| filter:byRange('nekiBroj', filterMin, filterMax)">
            <td>{{ x.RbrStavke }}</td>
            <td>{{ x.RbrNaloga }}</td>
            <td>{{ x.Konto }}</td>
            <td>{{ x.SifKomint }}</td>
            <td>{{ x.Duguje }}</td>
            <td>{{ x.Potrazuje }}</td>
        </tr>
    </table>

</div>
<script type="text/javascript" charset="utf-8">
    var app = angular.module('myApp', []);
    app.controller('customersCtrl', function($scope, $http) {
        $scope.filterMin = -1;
        $scope.filterMax = 10000;
        $scope.myOrderBy = 'sifBanke';
        $scope.ascending = true;
        $scope.byRange = function (fieldName, minValue, maxValue) {
            if (minValue === undefined) minValue = Number.MIN_VALUE;
            if (maxValue === undefined) maxValue = Number.MAX_VALUE;

            return function predicateFunc(item) {
                return minValue <= item[fieldName] && item[fieldName] <= maxValue;
            };
        };
        $scope.orderByMe = function(x) {
            $scope.myOrderBy = x;
            $scope.ascending = !$scope.ascending;
        }
        $http.get("pregledtroskova")
            .then(function (response) {
                $scope.names = response.data;
                console.log($scope.names)
            });
    });
</script>
</body>
</html>